* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #050608, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* ✅ FIX ICI */
#Connection {
    position: absolute;   /* permet de le sortir du centrage */
    top: 280px;            /* en haut */
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
}

#welcome{
    position: absolute;   /* permet de le sortir du centrage */
    top: 200px;            /* en haut */
    width: 100%;
    text-align: center;
    font-size: 45px;
    font-family: "Poppins", sans-serif;
}

#formulaireconnexion {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    text-align: center;
}

label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
    opacity: 0.8;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.1);
    color: white;
    transition: 0.3s;
}

input:focus {
    background: rgba(255,255,255,0.2);
}

#btnconnection {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #3b82f6;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#btnconnection:hover {
    background: #2563eb;
    transform: scale(1.03);
}

.error {
    color: #f87171;
    font-size: 13px;
    margin-top: 10px;
}